{% extends 'base.html.twig' %}

{% block title %}Détail pilote{% endblock %}

{% block body %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">

            <h1 class="text-uppercase text-center mt-3 mb-3">Détail pilote</h1>

                <p>Nom :    {{pilote.nom}}</p>    
                <p>Prénom : {{pilote.prenom}}</p>    
                <p>eMail :   <a href="mailto:{{ pilote.email }}">{{ pilote.email }}</a></p>    
                <p>Libellé :  {{pilote.pilote.libelle}}</p>    

            <a href="{{path('app_pilote')}}" class="btn btn-primary text-uppercase w-100">Retour à la liste</a>

            </div>
        </div>
    </div>

{% endblock %}
