{% extends 'base.html.twig' %}

{% block title %}
    {{ titre }}
{% endblock %}

{% block body %}


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">

            <h1 class="text-uppercase text-center mt-3 mb-3"> {{ titre }}</h1>

                {{ form_start(formulaire, {})}}

                <div class="row justify-content-center mb-3 mt-3 d-flex">
                    <div class="col-12">
                    {{ form_label(formulaire.code)}}
                    <br>
                    {{ form_widget(formulaire.code)}}
                    </div>
                </div>

                <div class="row justify-content-center mb-3 mt-3 d-flex">
                    <div class="col-12">
                        {{ form_label(formulaire.libelle)}}
                        <br>
                        {{ form_widget(formulaire.libelle)}}
                    </div>
                </div>


                <div class="row justify-content-center mb-3 mt-3 d-flex">
                    <div class="col-12">
                        <button class="btn btn-success">ACCEPTER</button>
                    </div>
                </div>            
               
                   
                
                {{ form_end(formulaire)}}


            <a href="{{path('app_qualification')}}" class="btn btn-primary text-uppercase w-100">Retour à la liste des qualifications</a>

            </div>
        </div>
    </div>

{% endblock %}
